%h1.bold Cetegories

%p These are all product categories. Click on one to see all products under that category. 

%hr

- @product_types.each do |type|
  = link_to type.name, product_type_path(type), class: 'badge badge-primary sale-bdg'

.text-center
  %a.btn.btn-primary.sale-btn{href: root_path} Back to homepage 