%footer#welcome-index-footer.page-footer
  .container-fluid
    .row
      #welcome-index-footer-cta.col-md-12.text-center
        = link_to 'RSVP TODAY!', new_guest_path, class: 'btn btn-primary wedding-cta-btn'
    .row
      #welcome-index-footer-credits.col-md-12.text-center
        %small
          - t :photo_credits
