%section#welcome-index-leader.jumbotron.text-center
  .container
    %h1.jumbotron-heading= t :wedding_couple_names
    %p.leader-date
      = t :wedding_date
      , #{t :wedding_location}
    %p
      = link_to 'RSVP TODAY!', new_guest_path, class: 'btn btn-primary wedding-cta-btn'
