.homepage.text-center 
  %h1 Help us on our mission!  
  = link_to "Donate", 'https://giving.younglife.org/s/?GiftType=Area&MissionUnitId=a2s410000002vKuAAI&ClassCodeId=a2j41000000Nj93AAC&Frequency=Monthly&MissionUnitName=Douglas+County&ClassCodeName=Operating', class: "btn btn-primary btn-lg"