.homepage.text-center 
  %h1 Join the mission!  
  .col-8.offset-2
    %p Join us in our mission of introducing middle school through college students of all abilities to Jesus and helping them grow in their faith.
  = link_to "Learn More", 'https://douglascounty.younglife.org', { style: 'padding-right: 1rem;' }
  = link_to "Donate", 'https://giving.younglife.org/s/?GiftType=Area&MissionUnitId=a2s410000002vKuAAI&ClassCodeId=a2j41000000Nj93AAC&Frequency=Monthly&MissionUnitName=Douglas+County&ClassCodeName=Operating', class: "btn btn-primary btn-lg sale-btn"