.col-6.col-md-4
  .card.mb-4.card-bordering
    - if vendor.avatar.attached?
      = image_tag vendor.avatar, style: 'width: 100%;', class: 'vendor-image'
    .card-body
      %h2.card-title= vendor.display_name
      %p.card-text 
        - vendor.product_types_list.each do |pt|
          = link_to pt.name, product_type_path(pt), class: 'badge badge-primary sale-bdg'

      %hr
      = link_to 'Check out my stuff', vendor_products_path(vendor), class: 'btn btn-primary sale-btn'