%h1.bold Vendors
- if @vendors.empty? 
  %p Sorry, no vendors yet! 
- else 
  %p Here are all our vendors! Check out their stuff!
%hr

.row 
  - @vendors.each do |vendor|
    = render partial: 'vendor_card', locals: { vendor: vendor }

.text-center
  %a.btn.btn-primary.sale-btn{href: root_path} Back to homepage 