%h1.display-4 Welcome to the Sidewalk Sale! 

%p Hey #{@vendor.first_name},

%p.lead Thank you again for joining Douglas County Young Life's Fall Sale! We are so excited to support your work by sharing it with the Douglas County community! 
%p.lead= link_to "Click Here to check out your page", vendor_products_url(@vendor), class: "btn btn-primary sale-btn"