.container 
  %h1 Welcome to the Fall Sale! 

  %p= "Hey #{@vendor.full_name},"

  %p Thank you again for joining Douglas County Young Life's Fall Sale! 
  
  %p We are so excited to support your work by sharing it with the Douglas County community! 
  
  %p To check out your page, click the link below! 

  = link_to "Fall Sale", root_url, class: "btn btn-primary sale-btn"
